---
import BookList from '../components/BookList.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Libros de programacion recomendados por kitorosano.">
	<main class="m-auto max-w-4xl px-4">
		<Title />

    <BookList />

	</main>
</Layout>